/* ——————————————————————————————————————————
	=BLOG
—————————————————————————————————————————— */
.hero {
	position: relative;
}

.hero_title {
	position: absolute;
	margin: 0;
	letter-spacing: 0.125rem;

	&.hero_title--visible {
		transform: translateY(-50%);
		top: 50%;
		left: 10%;
	}

	&.hero_title--hidden {
		@include hideText;
	}

	&.hero_title--light {
		text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
		color: #fff;
	}

	&.hero_title--dark {
		text-shadow: 0 0 5px rgba(205, 205, 205, 0.75);
		color: #000;
	}
}

.hero_imgage {
	display: block;
	text-align: center;
}




@media screen and (max-width: $small-down) {
	.hero_title {
		font-size: 2.25rem;
	}
}




@media screen and (min-width: $small-up) and (max-width: $medium-down) {
	.hero_title {
		font-size: 2.5rem;
	}
}




@media screen and (min-width: $medium-up) and (max-width: $large-down)  {
	.hero_title {
		font-size: 2.75rem;
	}
}




@media screen and (min-width: $large-up) {
	.hero_title {
		font-size: 3rem;
	}
}
