/* ——————————————————————————————————————————
	=BLOG
—————————————————————————————————————————— */
.hero {
	position: relative;
	overflow: hidden; // mario animation
}

.hero__image {
	display: block;
}

.hero__title {
	// font-family: $inconsolata;
	position: absolute;
	margin: 0;
	letter-spacing: 0.125rem;

	&.hero__title--visible {
		transform: translateY(-50%);
		top: 50%;
		left: 10%;
	}

	&.hero__title--hidden {
		@include hideText;
	}

	&.hero__title--light {
		text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
		color: #fff;
	}

	&.hero__title--dark {
		text-shadow: 0 0 5px rgba(205, 205, 205, 0.75);
		color: #000;
	}
}




@media screen and (max-width: $small-down) {
	.hero__title {
		font-size: 2.25rem;
	}
}




@media screen and (min-width: $small-up) and (max-width: $medium-down) {
	.hero__title {
		font-size: 2.5rem;
	}
}




@media screen and (min-width: $medium-up) and (max-width: $large-down)  {
	.hero__title {
		font-size: 2.75rem;
	}
}




@media screen and (min-width: $large-up) {
	.hero__title {
		font-size: 3rem;
	}
}




/* =Mario Animations */
.hero__mario {
	@media screen and (max-width: $medium-down) {
		display: none;
	}

	@media screen and (min-width: $medium-up) {
		position: absolute;
		left: 30%;
		width: 40%; // left + width <= 100% so element doesn't casue overflow right
		bottom: 11%;
	}

	@media screen and (min-width: $medium-up)  {
		& img {
			width: 3vw;
			max-width: 36px;
			height: 4.167vw;
			max-height: 50px;
		}
	}
}
