/* ——————————————————————————————————————————
	=HOMEPAGE
—————————————————————————————————————————— */
@media screen and (min-width: $medium-up) {
	.intro {
		width: 66%;
	}
}


@media screen and (min-width: $large-up) {
	.intro {
		display: flex;
		justify-content: space-between;
	}

	.intro_title {
		width: 32%;
		margin-right: 1rem;
	}

	.intro_description {
		width: calc(68% - 1rem);
	}
}
