/* ——————————————————————————————————————————
	=RESUME
—————————————————————————————————————————— */
.contentContainer--resume {
	.res__intro {
		margin-bottom: 3rem;
	}

	a {
		transition: all .25s ease-in-out;

		&:hover {
			color: $gray;
		}
	}
}

.res__intro-title {
	// font-family: $inconsolata;
	font-size: 2.875rem;
	letter-spacing: .01em;
}

.res__icon-container  {
	margin-bottom: 1.5rem;

	.svg-inline--fa {
		font-size: 1.5rem;
	}
}

.res__section-title {
	text-transform: uppercase;
	padding-bottom: .25rem;
	border-bottom: 2px solid black;
	letter-spacing: .05em;
}

.res__block {
	margin-bottom: 3rem;
}

.res__block-title {
	font-size: 1.125rem;
	margin-bottom: .75rem;
}

.res__blockIntro-list {
	@include listStyle-none;
	display: flex;
	// flex-wrap: wrap;
	font-style: italic;
	margin-bottom: .5rem;

	li {
		padding-right: .5rem;
		margin-right: .5rem;
		border-right: 1px solid black;

		&:last-child {
			padding-right: 0;
			margin-right: 0;
			border-right: none;
			margin-bottom: 0;
		}
	}
}

.res__blockIntro-aux {
	p {
		line-height: 1.4;
		margin-top: 0;
	}
}

.res__blockDetails {
	&.res__blockDetails--client {
		padding-left: 2rem;
	}
}

.res__blockDetails-title {
	margin-bottom: .25rem;
}

.res__blockDetails-list {
	margin-top: 0;
	padding-left: 2rem;

	&:first-child {
		margin-top: 1rem; // If there's not title
	}

	li {
		line-height: 1.25;
		margin-bottom: .375rem;
	}

	span {

	}

	&.res__blockDetails-list--extra-spacing {
		li {
			margin-bottom: .875rem;
		}
	}
}

.res__aside-container {
	.res__blockDetails-list {
		@include listStyle-none;
	}

	.res__section-title {
		margin-bottom: 1.125rem;
	}
}




@media screen and (max-width: $small-down) {
	.res__section-title {
		font-size: 1.0625rem;
	}
}




@media screen and (min-width: $small-up) {
	.res__section-title {
		font-size: 1.125rem;
	}
}




@media screen and (max-width: $medium-down) {
	.res__blockIntro-list,
	.res__blockIntro-aux  {
		font-size: .875rem;
	}
}




@media screen and (max-width: $large-down) {
	.contentContainer--resume {
		max-width: 764px;
	}
}




@media screen and (min-width: $large-up) {
	.res__flex-container {
		display: flex;
		justify-content: space-between;
	}

	.res__main-container {
		flex-basis: 73%;
	}

	.res__aside-container {
		flex-basis: 23%;
	}

	.res__block {
		max-width: 764px;
	}
}
