/* ——————————————————————————————————————————
	=POST
—————————————————————————————————————————— */
.post__row {
	margin-bottom: 2.5rem;
}

.post__details,
.post__copy {
	max-width: 700px;
}

// new
.post__details {
	hr {
		border: 1px solid black;
		margin: .5rem 0;
	}
}

.post__details-list {
	@include listStyle-none;
	line-height: 1.64;
}

.post__details-list {
	li {
		white-space: nowrap;

		span {
			font-weight: 400;
		}
	}
}

.post__copy {
	ul,
	ol {
		line-height: 1.25;
	}

	ul li,
	ol li {
		margin-bottom: 0.3125rem;
			// space between each item, but not space when items fall onto 2 lines
	}

	blockquote {
		font-size: 1.25rem;
		font-style: italic;
		position: relative;

		&:before {
			content: '\201C';
			font-size: 2.5rem;
			color: $gray;
			position: absolute;
			top: -.375rem;
			left: -1.5rem;
			font-weight: 400;
		}

		p {
			margin: 0;
		} // WP wraps blockquote text in a <p> tag
	}
}

.post__image {
	img {
		display: block;
	}
}




@media screen and (max-width: $small-down) {
	.post__image {
		img {
			margin: auto;
		}
	}

	.post__image--double {
		img {
			margin-bottom: 1rem;
		}
	}
}




@media screen and (min-width: $small-up) {
	.post__image--double {
		display: flex;
		justify-content: center;

		.post__image-container {
			max-width: calc(50% - 1rem/2);

			&:first-of-type {
				margin-right: 1rem;
			}
		}
	}
}




@media screen and (max-width: $large-down) {
	.post__details,
	.post__copy {
		margin: auto;
	}

	.post__details {
		margin-bottom: 2.5rem;

		hr {
			width: 25%;
		}
	}
}




@media screen and (min-width: $large-up) {
	.post__row {
		&:first-child {
			display: flex;
			justify-content: space-around;
		}
	}

	.post__details {
		margin-right: 3rem;

		hr {
			width: calc(100% + 1rem);
		}
	}

	.post__copy {
		margin: auto; // center normal `<p>`s

		&.post__copy--intro {
			margin: inherit; // no centering `<p>`s when details are to left
			flex-basis: 75%; // keeps element aligned left and gives it room w/ short text

			& + h2 {
				margin-top: 2px; // align with `<hr>`
			}
		}

		p {
			&:first-child {
				margin-top: 1.125rem; // lines up details block and first `<p>`
			}
		}
	}
}
