/* ——————————————————————————————————————————
	=ICONS
—————————————————————————————————————————— */
.icon__container {
	display: flex;
	align-items: center;

	.fa-linkedin-in + .icon__text {
		margin-top: 2px;
	}
}

.icon__text {
	margin-left: .5rem;
}
