// ——————————————————————————————————————————
//	=Variables
// ——————————————————————————————————————————

// Breakpoints
$extra-small-down: 375px; 		// 23.4375em;
$extra-small-up: 376px; 		// 23.5em;

$small-down: 575px; 			// 35.9375em;
$small-up: 576px; 				// 36em;

$medium-down: 767px; 			// 47.9375em;
$medium-up: 768px; 				// 48em;

$large-down: 991px; 			// 61.9375em;
$large-up: 992px; 				// 62em;

$extra-large-down: 1199px; 		// 74.9375em;
$extra-large-up: 1200px; 		// 75em;


// Colors
$gray: #989898;

// Font Sizes
$body-font: 1rem;

// Font Families
// $space-mono: 'Space Mono', monospace, serif;
// $open-sans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;
$inconsolata: 'Inconsolata', monospace;


// ——————————————————————————————————————————
//	=Mixins
// ——————————————————————————————————————————
@mixin gridTitle-center {
	text-align: center;
	position: relative;
	transform: translateY(-50%);
	top: 50%;
	margin:	0;
	width: 100%;
}

@mixin centerUnderline-hide {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -2px;
	left: 0;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.25s linear;
}

@mixin centerUnderline-show {
	visibility: visible;
	transform: scaleX(1);
}

@mixin hideText {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
} // https://webaim.org/techniques/css/invisiblecontent/

@mixin listStyle-none {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
