<!-- partial:partials/_header.html -->
<!-- partial -->

		<div class="contentContainer contentContainer--about" role="main">
			<section>
				<h1 class="about_title">Contact Me</h1>

				<div class="about_container">
					<div class="about_image-container">
						<img src="http://placehold.it/720x540" />
					</div>

					<div class="about_details-container">
						<div class="about_row">
							<h2 class="about_name">Mario Souza</h2>

							<div class="about_icon-container">
								<i class="fal fa-map-marker-alt"></i>
								<span class="about_icon-text">Based in Boston</span>
							</div>

							<div class="about_intro-copy">
								<p>Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
							</div>
						</div>

						<div class="about_row">
							<ul class="about_link-list">
								<li>
									<a class="about_icon-container about_icon-container--link" href="#" target="_blank">
										<i class="fal fa-file-alt"></i>
										<span class="about_icon-text">Résumé</span>
									</a>
								</li>
								<li>
									<a class="about_icon-container about_icon-container--link" href="#" target="_blank">
										<i class="fab fa-instagram"></i>
										<span class="about_icon-text">Instagram</span>
									</a>

								</li>
								<li>
									<a class="about_icon-container about_icon-container--link" href="#" target="_blank">
										<i class="fab fa-linkedin-in"></i>
										<span class="about_icon-text">linkedIn</span>
									</a>
								</li>
								<li>
									<a class="about_icon-container about_icon-container--link" href="#" target="_blank">
										<i class="fal fa-envelope"></i>
										<span class="about_icon-text">Email</span>
									</a>
								</li>
							</ul>
						</div>

						<div class="about_row">
								<a class="about_icon-container about_icon-container--link" href="#" target="_blank">
									<i class="fal fa-envelope"></i>
									<span class="about_icon-text">Email</span>
								</a>
						</div>
					</div> <!-- /contactInfo -->
				</div>
			</section>
		</div> <!-- /contentContainer -->

<!-- partial:partials/_footer.html -->
<!-- partial -->
