<!-- partial:partials/_header.html -->
<!-- partial -->

		<div class="contentContainer contentContainer--blog" role="main">
			<section class="hero">
				<h1 class="hero__title hero__title--visible hero__title--light">Work</h1>

				<picture class="hero__image">
					<source media="(max-width: 767px)" srcset="http://placehold.it/750x450">
					<!-- <source media="(max-width: 767px)" srcset="etc/mobile.jpg"> -->

					<img src="http://placehold.it/1200x420" alt="">
					<!-- <img src="etc/desktop.jpg" alt=""> -->
				</picture>
			</section>

			<section class="grid">
				<h2 class="grid__title">Stuff I've made with other talented individuals:</h2>

				<div class="grid__list grid__list--blog">
					<article class="grid__item grid__item--blog" data-aos="slide-up">
						<a class="grid__item-link" href="post.html">
							<img class="grid__item-img" src="http://placehold.it/700x580" />

							<div class="grid__item-copy-container">
								<h1 class="grid__item-title grid__item-title--dark grid__item-title--visible">
									<span>Client Name</span>
									Nullam
								</h1>
							</div>
						</a>
					</article>

					<article class="grid__item grid__item--blog" data-aos="slide-up">
						<a class="grid__item-link" href="post.html">
							<img class="grid__item-img" src="http://placehold.it/700x580" />

							<div class="grid__item-copy-container">
								<h1 class="grid__item-title grid__item-title--light grid__item-title--visible">
									<span>Client Name</span>
									Malesuada Quam Tortor
								</h1>
							</div>
						</a>
					</article>

					<article class="grid__item grid__item--blog" data-aos="slide-up">
						<a class="grid__item-link" href="post-password.html">
							<img class="grid__item-img" src="http://placehold.it/700x580" />

							<div class="grid__item-copy-container">
								<h1 class="grid__item-title grid__item-title--light grid__item-title--hidden">
									<span>Client Name</span>
									Justo Sollicitudin
								</h1>
							</div>
						</a>
					</article>

					<article class="grid__item grid__item--blog" data-aos="slide-up">
						<a class="grid__item-link" href="post-password.html">
							<img class="grid__item-img" src="http://placehold.it/700x580" />

							<div class="grid__item-copy-container">
								<h1 class="grid__item-title grid__item-title--dark grid__item-title--hidden">
									<span>Client Name</span>
									Fermentum Commodo
								</h1>
							</div>
						</a>
					</article>
				</div> <!-- grid_list -->
			</section>
		</div> <!-- /contentContainer -->

<!-- partial:partials/_footer.html -->
<!-- partial -->
