<!-- partial:partials/_header.html -->
<!-- partial -->

		<div class="contentContainer contentContainer--blog" role="main">
			<section class="hero">
				<h1 class="hero_title hero_title--visible hero_title--dark">Play</h1>

				<picture class="hero_image">
					<source media="(max-width: 767px)" srcset="http://placehold.it/750x450">

					<img src="http://placehold.it/1200x420" alt="">
				</picture>
			</section>

			<section class="grid">
				<div class="grid_list grid_list--blog">
					<article class="grid_item grid_item--blog">
						<a class="grid_item-link" href="post.html">
							<img class="grid_item-img" src="http://placehold.it/720x600" />
							<h2 class="grid_item-title grid_item-title--dark grid_item-title--visible">
								<span>Client Name</span>
								Nullam
							</h2>
						</a>
					</article>

					<article class="grid_item grid_item--blog">
						<a class="grid_item-link" href="post-password.html">
							<img class="grid_item-img" src="http://placehold.it/720x600" />
							<h2 class="grid_item-title grid_item-title--light grid_item-title--visible">
								<span>Client Name</span>
								Malesuada Quam Tortor
							</h2>
						</a>
					</article>
				</div> <!-- grid_list -->
			</section>
		</div> <!-- /contentContainer -->

<!-- partial:partials/_footer.html -->
<!-- partial -->
