<!-- partial:partials/_header.html -->
<!-- partial -->

		<div class="contentContainer contentContainer--home" role="main">
			<section class="intro">
				<div class="intro__copy-container borderLink">
					<p>Hi, I'm Mario – a digital producer and aspiring web developer. I partner with strategists, designers, writers, engineers and analysts to create things for the internet.</p>

					<p>I'm currently working at a large advertising agency making things for Clients. Check out some of my work below, take a look at my profile on <a href="#">LinkedIn</a>, or feel free to send me a <a href="#">note</a>.</p>
				</div>
			</section>

			<section class="grid">
				<h2 class="grid__title">Featured Work:</h2>

				<div class="grid__list grid__list--home">
					<article class="grid__item grid__item--home">
						<a class="grid__item-link" href="post.html">
							<img class="grid__item-img" src="http://placehold.it/720x560" />

							<div class="grid__item-copy-container">
								<h1 class="grid__item-title grid__item-title--dark grid__item-title--visible">
									<span>Ocean Spray</span>
									Grower's Portal
								</h1>
							</div>
						</a>
					</article>

					<article class="grid__item grid__item--home">
						<a class="grid__item-link" href="post.html">
							<img class="grid__item-img" src="http://placehold.it/720x560" />

							<div class="grid__item-copy-container">
								<h1 class="grid__item-title grid__item-title--dark grid__item-title--visible">
									<span>CenturyLink</span>
									Sing With Kelvin
								</h1>
							</div>
						</a>
					</article>

					<article class="grid__item grid__item--home">
						<a class="grid__item-link" href="post.html">
							<img class="grid__item-img" src="http://placehold.it/720x560" />

							<div class="grid__item-copy-container">
								<h1 class="grid__item-title grid__item-title--dark grid__item-title--visible">
									<span>Jack Daniel's</span>
									Barrel Hunt
								</h1>
							</div>
						</a>
					</article>
				</div>

				<div class="grid__cta grid__cta--home">
					<a href="blog.html">
						<button class="button">View All Work</button>
					</a>
				</div>
			</section>
		</div> <!-- /contentContainer -->

<!-- partial:partials/_footer.html -->
<!-- partial -->
