<!-- partial:partials/_header.html -->
<!-- partial -->

		<div class="contentContainer contentContainer--home" role="main">
			<section class="intro">
				<div class="intro_copy borderLink borderLink--option">
					<p><span>Hi, I’m Mario.</span> Donec ullamcorper nulla non metus auctor fringilla. Curabitur blandit tempus porttitor. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

					<p>Curabitur blandit tempus porttitor. Nullam quis risus eget urna <a href="about.html">mollis ornare</a> vel eu leo.</p>
				</div>
			</section>

			<section class="grid">
				<div class="grid_list grid_list--home">
					<article class="grid_item grid_item--home">
						<a class="grid_item-link" href="blog.html">
							<img class="grid_item-img" src="http://placehold.it/720x560" />
							<h2 class="grid_item-title grid_item-title--dark grid_item-title--visible">
								<span class="grid_item-client">Ocean Spray</span>
								Grower's Portal
							</h2>
						</a>
					</article>

					<article class="grid_item grid_item--home">
						<a class="grid_item-link" href="about.html">
							<img class="grid_item-img" src="http://placehold.it/720x560" />
							<h2 class="grid_item-title grid_item-title--dark grid_item-title--visible">
								<span class="grid_item-client">CenturyLink</span>
								Sing With Kelvin
							</h2>
						</a>
					</article>

					<article class="grid_item grid_item--home">
						<a class="grid_item-link" href="blog-2.html">
							<img class="grid_item-img" src="http://placehold.it/720x560" />
							<h2 class="grid_item-title grid_item-title--dark grid_item-title--visible">
								<span class="grid_item-client">Jack Daniel's</span>
								Barrel Hunt
							</h2>
						</a>
					</article>
				</div>

				<button class="button button--home-grid">View All Work</button>
			</section>
		</div> <!-- /contentContainer -->

<!-- partial:partials/_footer.html -->
<!-- partial -->
