<!-- partial:partials/_header.html -->
<!-- partial -->

		<div class="contentContainer contentContainer--post" role="main">
			<article class="">
				<section>
					<h1>Lorem Ipsume Dolar Sit</h1>

					<div class="post_row">
						<div class="post_copy post_copy--option borderLink borderLink--option">
							<p>Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id <a href="">nibh ultricies</a> vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

							<p>Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

							<ul>
								<li>Nullam Risus Magna</li>
								<li>Cum sociis natoque praesent commodo cursus magna, vel scelerisque nisl <a href="#">consectetur penatibus</a> dis parturient montes, nascetur ridiculus mus</li>
								<li>Parturient Cursus</li>
								<li>Ridiculus Ultricies Mattis Purus Etiam</li>
							</ul>

							<ol>
								<li>Venenatis Fermentum</li>
								<li>Condimentum Tortor Ipsum Mollis Tristique</li>
								<li>Donec sed odio dui lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
								<li><a href="#">Ligula Egestas Nullam</a></li>
								<li><a href="#">Porta Vulputate Sem Inceptos</a></li>
								<li><a href="#">Ligula Magna Inceptos</a></li>
								<li>Vestibulum id ligula porta felis euismod semper</li>
								<li>Sem Egestas</li>
								<li>Sed posuere consectetur est at lobortis donec ullamcorper nulla non metus auctor fringilla sed posuere consectetur est at lobortis</li>
								<li>Tellus Lorem Magna</li>

							</ol>

							<blockquote><p>Tenteger posuere erat a ante venenatis dapibus posuere velit aliquet.</p></blockquote>
						</div>
					</div>

					<div class="post_row">
						<div class="post_image post_image--single">
							<div class="post_image-container">
								<img src="http://placehold.it/1200x480" />
							</div>
						</div>
					</div>

					<div class="post_row">
						<div class="post_image post_image--double">
							<div class="post_image-container">
								<img src="http://placehold.it/720x540" />
							</div>
							<div class="post_image-container">
								<img src="http://placehold.it/320x340" />
							</div>
						</div>
					</div>
				</section>
			</article>

			<section>
				<div class="arrowLink arrowLink--back">
					<a href="/blog.html">
						<i class="fal fa-angle-left"></i>
						<span>All Something Posts</span>
					</a>
				</div>
			</section>
		</div> <!-- /contentContainer -->

<!-- partial:partials/_footer.html -->
<!-- partial -->
