<!-- partial:partials/_header.html -->
<!-- partial -->

		<div class="contentContainer contentContainer--post" role="main">
			<article class="">
				<section>
					<h1>Lorem Ipsume Dolar Sit</h1>

					<p>This content is password protected. To view it please enter your password below:</p>

<!-- partial:partials/_form.html -->
<!-- partial -->
				</section>
			</article>

			<section>
				<div class="backLink">
					<a href="/blog.html">
						<i class="fal fa-angle-left"></i>
						<span>All Something Posts</span>
					</a>
				</div>
			</section>
		</div> <!-- /contentContainer -->

<!-- partial:partials/_footer.html -->
<!-- partial -->
