<!-- partial:partials/_header.html -->
<!-- partial -->

		<div class="contentContainer contentContainer--resume" role="main">
			<h1 class="res__intro-title">Résumé</h1>

			<section class="res__intro">
				<div class="res__intro-utilities">
					<a class="icon__container res__icon-container about__icon-container--link" href="#" target="_blank">
						<i class="fal fa-file-alt"></i>
						<span class="icon__text res__icon-text">Download Résumé</span>
					</a>
				</div>
			</section>

			<div class="res__flex-container">
				<div class="res__main-container">
					<section>
						<h2 class="res__section-title">Professional Experience</h2>

						<div class="res__block">
							<h3 class="res__block-title">Level Role/Job Title</h3>

							<div class="res__blockIntro">
								<ul class="res__blockIntro-list">
									<li>Company Name</li>
									<li>City, State</li>
									<li>Month Year – Present</li>
								</ul>

								<div class="res__blockIntro-aux">
									<p>Clients: CFP Board, Jack Daniel’s, Ocean Spray, Santander Bank, SolarCity and Volvo Trucks</p>
								</div>
							</div>

							<div class="res__blockDetails">
								<div class="res__blockDetails-copy">
									<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
								</div>
							</div>

							<div class="res__blockDetails res__blockDetails--client">
								<h4 class="res__blockDetails-title">Client Name – Project Name</h4>

								<ul class="res__blockDetails-list">
									<li>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui, aenean lacinia bibendum nulla sed consectetur.</li>
									<li>Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis.</li>
									<li>Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
									<li>Nullam quis risus eget urna mollis ornare vel eu leo, donec ullamcorper nulla non metus auctor fringilla.</li>
								</ul>
							</div>

							<div class="res__blockDetails res__blockDetails--client">
								<h4 class="res__blockDetails-title">Client Name – Project Name</h4>

								<ul class="res__blockDetails-list">
									<li>Maecenas sed diam eget risus varius blandit sit amet non magna, praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</li>
									<li>Nullam quis risus eget urna mollis ornare vel eu leo, donec id elit non mi porta gravida at eget metus.</li>
									<li>Cras justo odio, dapibus ac facilisis in, egestas eget qua, donec id elit non mi porta gravida at eget metus.</li>
									<li>Etiam porta sem malesuada magna mollis euismod.</li>
								</ul>
							</div>
						</div> <!-- /res__block -->

						<div class="res__block">
							<h3 class="res__block-title">Level Role/Job Title</h3>

							<div class="res__blockIntro">
								<ul class="res__blockIntro-list">
									<li>Company Name</li>
									<li>City, State</li>
									<li>Month Year – Month Year</li>
								</ul>

								<div class="res__blockIntro-aux">
									<p>Clients: Massachusetts General Hospital Cancer Center, MIT AgeLab, The National Center on Time & Learning, North Shore-LIJ Health System and Stonybrook Water</p>
								</div>
							</div>

							<div class="res__blockDetails">
								<div class="res__blockDetails-copy">
									<p>Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper.</p>
								</div>
							</div>
						</div> <!-- /res__block -->

						<div class="res__block">
							<h3 class="res__block-title">Level Role/Job Title</h3>

							<div class="res__blockIntro">
								<ul class="res__blockIntro-list">
									<li>Company Name</li>
									<li>City, State</li>
									<li>Month Year – Month Year</li>
								</ul>
							</div>

							<div class="res__blockDetails">
								<div class="res__blockDetails-copy">
									<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
								</div>
							</div>
						</div> <!-- /res__block -->
					</section>

					<section>
						<h2 class="res__section-title">Education</h2>

						<div class="res__block">
							<h3 class="res__block-title">Bachelor of Science in Marketing & Minor in International Business</h3>

							<div class="res__blockIntro">
								<ul class="res__blockIntro-list">
									<li>University of Massachusetts Dartmouth</li>
									<li>North Dartmouth, MA</li>
									<li>Class of 2011</li>
								</ul>
							</div>

							<div class="res__blockDetails">
								<ul class="res__blockDetails-list">
									<li><span>Awards: </span>Dean’s List - Major GPA of 3.8 - Cum Laude Distinction</li>
									<li><span>Study Abroad Experience: </span>spent the summer of 2010 in Wolfsburg, Germany to learn about Volkswagen’s global marketing efforts, strategies and tactics.</li>
									<li><span>Internship: </span>completed an ongoing sales internship at the Fastenal Company junior and senior years.</li>
								</ul>
							</div>
						</div> <!-- /res__block -->
					</section>

					<section>
						<h2 class="res__section-title">Academic Experience</h2>

						<div class="res__block">
							<h3 class="res__block-title">Project/Role Title</h3>

							<div class="res__blockIntro">
								<ul class="res__blockIntro-list">
									<li>Company/Origanization Name</li>
									<li>City, State</li>
									<li>Season Semester Year</li>
								</ul>
							</div>

							<div class="res__blockDetails">
								<div class="res__blockDetails-copy">
									<p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
								</div>
							</div>
						</div> <!-- /res__block -->

						<div class="res__block">
							<h3 class="res__block-title">Project/Role Title</h3>

							<div class="res__blockIntro">
								<ul class="res__blockIntro-list">
									<li>Company/Origanization Name</li>
									<li>City, State</li>
									<li>Season Semester Year</li>
								</ul>
							</div>

							<div class="res__blockDetails">
								<div class="res__blockDetails-copy">
									<p>Sed posuere consectetur est at lobortis. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
								</div>
							</div>
						</div> <!-- /res__block -->
					</section>
				</div> <!-- /res__main-container -->

				<aside class="res__aside-container">
					<section class="">
						<div class="res__block">
							<h2 class="res__section-title">Contact</h2>

							<div class="res__blockDetails">
								<ul class="res__blockDetails-list">
									<li>City, State</li>
									<li><a href="mailto:example@example.com">hello@anexample.com</a></li>
								</ul>
							</div>
						</div> <!-- /res__block -->
					</section>

					<section class="">
						<div class="res__block">
							<h2 class="res__section-title">Social</h2>

							<div class="res__blockDetails">
								<ul class="res__blockDetails-list">
									<li>
										<a class="icon__container res__icon-container" href="#" target="_blank">
											<i class="fab fa-linkedin-in"></i>
											<span class="icon__text res__icon-text">LinkedIn</span>
										</a>
									</li>
									<li>
										<a class="icon__container res__icon-container" href="#" target="_blank">
											<i class="fab fa-instagram"></i>
											<span class="icon__text res__icon-text">Instagram</span>
										</a>
									</li>
								</ul>
							</div>
						</div> <!-- /res__block -->
					</section>

					<section class="">
						<div class="res__block">
							<h2 class="res__section-title">Certificates</h2>

							<div class="res__blockDetails">
								<ul class="res__blockDetails-list res__blockDetails-list--extra-spacing">
									<li>
										<span>Certified Name – </span>distributed by Company Name
									</li>
									<li>
										<span>Certified Name&reg; – </span>distributed by Company Name
									</li>
									<li>
										<span>Certified Name&trade; – </span>distributed by Company Name
									</li>
								</ul>
							</div>
						</div> <!-- /res__block -->
					</section>

					<section class="">
						<div class="res__block">
							<h2 class="res__section-title">Skills</h2>

							<div class="res__blockDetails">
								<div class="res__blockDetails-copy">
									<p><span>Everyday Tools Used: </span>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
									<p><span>Other Proficiencies: </span>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
								</div>
							</div>
						</div> <!-- /res__block -->
					</section>
				</aside> <!-- /res__aside-container -->
			</div> <!-- /res__flex-container -->
		</div> <!-- /main -->


<!-- partial:partials/_footer.html -->
<!-- partial -->
