		<footer class="footer">
			<div class="footer__social">
				<ul class="footer__social-list">
					<li class="footer__social-item">
						<a class="footer__social-link" href="#" target="_blank">
							<i class="fab fa-linkedin-in"></i>
							<span class="hidden">Linkedin</span>
						</a>
					</li>

					<li class="footer__social-item">
						<a class="footer__social-link" href="#" target="_blank">
							<i class="fab fa-instagram"></i>
							<span class="hidden">Instagram</span>
						</a>
					</li>

					<li class="footer__social-item">
						<a class="footer__social-link" href="mailto:someone@domain.com">
							<i class="fal fa-envelope"></i>
							<span class="hidden">Email</span>
						</a>
					</li>
				</ul>
			</div>

			<div class="footer__copyright">
				<span class="footer__copyright-text">&copy; First Last Name 2018</span>
			</div>
		</footer>

		<div class="modal modal-js"></div>

		<!-- Scripts -->
		<script src="ux/vendor/jquery-1.12.4.min.js"></script>
		<script src="ux/vendor/fontawesome-all.min.js" defer></script>
		<script src="ux/vendor/aos.js"></script>
		<script src="ux/js/main.js" defer></script>
	</body>
</html>
